<!DOCTYPE html>
<html lang="en" ng-app="mainPage">
   <head>
      <title><%= title %></title>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	  <script src="controllers/mainPageController.js"></script>
	  <link rel="stylesheet" type="text/css" href="stylesheets/table.css" />
	  <meta charset="utf-8">
   </head>
   <body ng-controller="MainPageController as controller">
      <p>
         Welcome <strong><%= user.username %></strong>
         <a href="/signout" title="sign out">sign out</a>
      </p>

     <h3> This is your appboard! </h3>
     <p> <%=requests%> pending requests {{requests}}</p>
     <p> <%=bets%> active bets</p>
    <!-- Trigger the modal with a button -->
	<p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#betModal">Click here to bet</button></p>
	<!-- Modal -->
	<form method="post">
		<div id="betModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			  </div>
			  <div class="modal-body">
				<div class="form-group">
					<table class="table borderless">
						<tbody>
							<tr>
								<td>Friend:</td>
								<td>
									<input type="text" ng-model="bet.friend">
								</td>
								<td>testuser for test</td>
							</tr>
							<tr>
								<td>Amount:</td>
								<td>
									$AU
									<input type="text" ng-model="bet.amount">
								</td>
								<td>whatsoever number here</td>
							</tr>
							<tr>
								<td>Match:</td>
								<td>
									<input type="text" ng-model="bet.match">
								</td>
								<td>@match1 for test</td>
							</tr>
						</tbody>
					</table>
				</div>
			  </div>
			  <div class="modal-footer">
				<input type="submit" id="submitBet" class="btn btn-primary" value="Make bet" ng-click="controller.submitBet()"></button>
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel""></button>
			  </div>
			</div>

		  </div>
		</div>
	</form>
      </p>
      <script>
		  $("#submitBet").click(function() {
			  $('#betModal').modal('hide');
		  });
      </script>
   </body>
</html>
